* { /* resetting styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- magnum stories section styling -------- */
.magnum-stories {
  text-align: center;
  padding: 150px 0;
  background-color: #452113;
  color: #FCECCB;
  overflow: hidden;
}

.magnum-stories h2 {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  gap: 20px;
  width: 100vw; /* full viewport width */
  overflow: hidden; /* hide overflow within the carousel */
  padding: 50px 0; 
  scroll-behavior: smooth;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.story {
  position: relative;
  transform: rotate(-5deg); /* slight slant */
  transition: transform 0.3s ease;
  width: 300px; /* adjusting the size of the images */
  height: 330px;
}

.story:hover {
  transform: rotate(0); /* remove slant on hover */
}

.story img {
  width: 300px; /* adjusting the size of the images */
  height: 330px;
  border-radius: 10px;
  object-fit: cover; /* ensures images covers the entire container area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 10, 3, 0.6);
  color: #f8e5c0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  transition: opacity 0.3s ease;
  border-radius: 10px; /* matching with the image's border-radius */
}

.story:hover .overlay {
  opacity: 1; /* show overlay on hover */
}


/* -------- banner section styling -------- */
.banner {
  background:  #CCA56A;
  padding: 30px;
  color: #33160B;
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  overflow: hidden;
}

.banner-text {
  position: relative;
  left: 100vw;
  white-space: nowrap;
  animation: move 15s infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {left: 100vw;}
  to {left: -100vw;} /* maximum length */
}