* { /* resetting styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-image: url(images/30f7d22ca1fb54328512013d48015588.jpg);
  background-repeat: no-repeat center center;
  background-attachment: fixed;  
  background-size: cover;
  color: #fff;
}

/* -------- button styling --------  */ 
.button {
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FCECCB; /* light background color */
  color: #34160B; /* dark text color */
  text-decoration: none;
  border-radius: 30px; /* rounded corners */
  cursor: pointer; /* pointer cursor on hover */
  transition: all 0.3s ease; /* smooth transition for hover effects */
  position: relative; /* make sure z-index works */
  z-index: 10; /* bring button above other elements */
}

.button:hover {
  background-color: #34160B; /* dark background on hover */
  color: #FCECCB; /* light text color on hover */
  transform: scale(1.2); /* scale the button up */
}

/* -------- navigation bar styling -------- */
header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

/* left and right navigation */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* gap between each word */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  padding: 20px;
}

/* set up the initial transform for span */
nav ul li a span {
  display: inline-block;
  transform-origin: center;
  transform-style: preserve-3d; /* enables 3D transform */
  transition: transform 0.5s ease; /* smooth animation */
}

/* center logo */
.logo {
  flex-grow: 1; /* makes logo sit in the middle, taking up as much space as needed to balance the links on either side. */ 
  text-align: center;
}

.logo img {
  max-height: 50px;
}